doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title markdown-r demo
    link(rel="stylesheet", href="prism-tomorrow.css")
    link(rel="stylesheet", href="style.css")
  body
    .containter
      .left
        .markdown
          pre
            | !{markdown || "hello world"}
      .right
        .markdown-body 
          | !{html || "hello world"}
